* {
    box-sizing: border-box;
}

body {
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    color: #ffffff;
}

.container {
    background: #04264b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.generator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-input {
    width: 100%;
    height: 40px;
}

.checkbox {
    transform: scale(1.5);
    margin: 10px;
}

.text-input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #17E9AE;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    background-color: #047756;
    color: #ffffff;
}

#strength {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    button {
        font-size: 0.9rem;
        padding: 8px;
    }

    .text-input {
        padding: 8px;
        height: 40px;
        font-size: 0.9rem;
    }

    .range-input {
        height: 40px;
    }
}